.aboutus-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.aboutus-page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.aboutus-page p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.aboutus-page strong {
  font-weight: bold;
}

body.dark-mode .aboutus-page {
  background-color: var(--modal-bg);
  color: var(--modal-text);
}

body.dark-mode .aboutus-page h1 {
  color: var(--header-text);
}

body.dark-mode .aboutus-page p {
  color: var(--modal-text);
}
