.profile-page {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .profile-info p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .author-section {
    margin-top: 20px;
  }
  
  .subscription-btn {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .subscription-btn:hover {
    background-color: var(--header-bg);
  }
  
  .logout-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .logout-btn:hover {
    background-color: darkred;
  }
  
  .profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
  }
  